h1 {
    color: black;
}

.center-pic {
    display: block;
    margin: auto;
}

#title {
    text-align: center;
    font-family: "Big Shoulders Display";
    font-weight: normal;
    font-size: 80px;
    margin-bottom: 0;
}

#tribute-info {
    text-align: center;
    margin-top: 0;
    font-family: "Work Sans";
}

#porter {
    width: 70%;
}

#img-caption {
    text-align: center;
    font-family: "Work Sans";
}